$bpay-color: #183168;

.bpay{
    max-width: 300px;
    width: 100%;
    color: $bpay-color;

    .panel{
        display: flex;
        margin-bottom: var(--cad-spacer-1);

        .icon{
            margin-right: var(--cad-spacer-1) / 2;
        }
        .ref {
            border: 2px solid currentColor;
            padding: var(--cad-spacer-3);
            flex-grow: 1;
            margin-top: 2px;
            height: 69px;
        }
    }
    
    .data{
        span:first-child{
            width: 50%;
            display: inline-block;
            &+ span{
                font-weight: bold;
            }
        }       
    }
    .text{
        font-size: 0.75rem;
    }
}
